@use "all" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: $bg-color1;
}

::-webkit-scrollbar-thumb {
  background-color: $text-color1;
  border-radius: 10px;
}

::selection {
  background: $text-color1;
  color: #ffffff;
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: $bg-color1;
  color: #ffffff;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  background-color: $bg-color1;
  color: #ffffff;
}

.content,
.footer {
  text-align: center;
}

header {
  background: #1e1e1e;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  span {
    color: $text-color1;
    font-size: 20px;
    font-weight: bolder;

    &::before {
      content: ".";
      color: #ffffff;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          background: #333;
        }
      }
    }
  }
}

.content {
  display: flex;
  gap: 20px;
  padding: 20px;

  span {
    font-size: 25px;
    font-weight: bolder;
  }
}

.movie-box {
  width: 250px;
  height: 350px;
  background-color: #333;
  color: $text-color1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
  cursor: pointer;

  &.show {
    opacity: 1;
    transition: 0.6s;
    transform: translateY(0);
  }
}

.footer {
  padding: 20px;
  background: #1e1e1e;
  color: #c9c9c9;
  font-size: 0.9rem;
}

////////////////////////////////////////

.movie-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  transition:
    scale 350ms ease,
    opacity 350ms linear;

  &:hover {
    scale: 1.1;
  }
}

:has(.movie-box:hover) .movie-box:not(:hover) {
  scale: 0.8;
  opacity: 0.5;
  filter: blur(2px);
}

@for $i from 1 through 8 {
  .anim__delay#{$i} {
    animation-delay: #{$i * 250ms};
  }
}
