html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  color: #fff;
  background: linear-gradient(120deg, #121212, #505050);
  background-size: 400% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
}
.area__bg-login {
  width: 70%;
  margin: 15rem auto;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-areas: "textInfo form" "textInfo form";
  gap: 20px 15rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .area__bg-login {
    grid-template-areas: "textInfo" "form";
  }
}
.area__bg-login .area__login--textInfo {
  grid-area: textInfo;
  text-align: center;
}
.area__bg-login .area__login--form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.area__bg-login .area__login--form #form-login {
  display: flex;
  flex-direction: column;
}
.area__bg-login .area__login--form #form-login button[id=login] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  border: 1px solid #121212;
  color: #fff;
  cursor: pointer;
}
.area__bg-login .area__login--form #form-login button[id=login]:hover {
  background-color: #121212;
  transition: all 0.4s ease;
  transform: scale(1.1);
}
.area__bg-login .area__login--form #form-login p[id=message-login] {
  color: #1db954;
  visibility: hidden;
  text-align: center;
  margin-top: 15px;
}
.area__bg-login .area__login--form #form-login .form-group {
  position: relative;
  margin-bottom: 15px;
}
.area__bg-login .area__login--form #form-login .form-group label {
  display: block;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #1e1e1e;
  padding: 0 5px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.area__bg-login .area__login--form #form-login .form-group input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  background-color: #1e1e1e;
  color: #fff;
}
.area__bg-login .area__login--form #form-login .form-group input:focus + label, .area__bg-login .area__login--form #form-login .form-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 15px;
  color: #fff;
  font-family: Arial;
}
.area__bg-login .area__login--form #form-login .form-group input[id=username], .area__bg-login .area__login--form #form-login .form-group input[id=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  outline: none;
}
.area__bg-login .area__login--form #form-login .form-group input[id=username]:focus, .area__bg-login .area__login--form #form-login .form-group input[id=password]:focus {
  border: 1px solid #f5c518;
  border-radius: 25px;
}

/*# sourceMappingURL=login.css.map */
